@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Smooch Sans";
    src: url("../font/SmoochSans-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}